.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-around;
}

.taskForm {
  padding-top: 40px;
  width: 100%;
  margin-top: 200px;
  padding-bottom: 200px;
  border-radius: 4% 4% 0 0;
  border-top: 1px solid #20202000;
  -webkit-box-shadow: 0px -4px 3px rgba(1, 1, 1, 0.15);
  -moz-box-shadow: 0px -4px 3px rgba(1, 1, 1, 0.15);
  box-shadow: 0px -4px 3px rgba(1, 1, 1, 0.15);
  background-color: grey;
}

.subBtn {
  background-color: #cbcbcb;
  border-radius: 20px;
  justify-content: center;
}

.aktivitet {
  padding-left: 50px;
  width: 80%;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f1f1f1;
  box-sizing: border-box;
}
