@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.loginRegisterBG {
  background-image: url("../public/images/PeppiLoginBG.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  /*position: absolute;*/
  width: 373px;
  height: 667px;
}

/*                                                  Schema sida                                            */

/* Veckodagarna Style*/
.veckoTopp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -8%;
  margin-left: -5%;
  font-family: 'Roboto', sans-serif;
}

.veckoTopp ul {
  padding-left: 25px;
  font-family: 'Roboto', sans-serif;
}

.veckoTopp li {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Schema TOP-design component */
.topSchema {
  background-color: #fff9f2; /* Grunden, Bakgrund på schema sidan */
  position: sticky;
  height: auto;
  width: 100%;
  padding: 0.86em;
  margin-top: -8%;
  margin-left: -5%;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
}

.boxDate {
  margin: 5%;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.bigDate {
  font-size: 1.4rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.hilightDay {
  border-radius: 5px 5px 5px 5px;
  padding: 2px;
  font-family: 'Roboto', sans-serif;
}

/* Schema Board-design component */
.boardSchema {
  background-color: #ffffff;
  position: absolute;
  margin-top: -5%;
  margin-left: -2%;
  height: 15%;
  padding: 50%;
  border-radius: 4% 4% 0 0;
  border-top: 1px solid #20202000;
  -webkit-box-shadow: 0px -4px 3px rgba(1, 1, 1, 0.15);
  -moz-box-shadow: 0px -4px 3px rgba(1, 1, 1, 0.15);
  box-shadow: 0px -4px 3px rgba(1, 1, 1, 0.15);
  z-index: 0; /* ändra till -1  för synlighet */
  font-family: 'Roboto', sans-serif;
}

/* Schema 'blue line' mitt på skärm */
.vl {
  border-left: 5px solid #561cfb;
  height: 100%;
  position: absolute;
  left: 50%;
  top: -1px;
  z-index: -1;
  font-family: 'Roboto', sans-serif;
}

/* Lägg till Task på Schema-knapp! */
.taskKnapp {
  display: block;
  text-decoration: none;
  text-align: center;
  position: fixed;
  font-weight: bold;
  bottom: 14%;
  right: 15px;
  font-size: 50px;
  line-height: 55px;
  height: 56px;
  width: 56px;
  background-color: #ffc107;
  color: #202020ea;
  cursor: pointer;
  border-radius: 50%;
  border-top: 1px solid #20202000;
  -webkit-box-shadow: 0px 4px 3px rgba(1, 1, 1, 0.15);
  -moz-box-shadow: 0px 4px 3px rgba(1, 1, 1, 0.15);
  box-shadow: 0px 4px 3px rgba(1, 1, 1, 0.15);
  z-index: 99;
}

/*                                             Schema sida                  * AVSLUTA *                   */

/*                                             Start Popup Peppi Image                                    */
.peppiWelcome {
  background-image: url("/public/images/popupPeppi.png");
  height: auto;
  width: 100%;
}
/*                                             Start Popup Peppi Image      * AVSLUTA *                    */

/*                                                       Setup Task                                        */
.setuptaskCard {
  display: block;
  position: absolute;
  background-color: #fff;
  border: 5px solid #ffffff;
  padding: 15px;
  margin-top: 22.7%;
  height: auto;
  width: 85%;
  border-radius: 4% 4% 0 0;
  border-top: 1px solid #20202000;
  -webkit-box-shadow: 0px -4px 3px rgba(1, 1, 1, 0.15);
  -moz-box-shadow: 0px -4px 3px rgba(1, 1, 1, 0.15);
  box-shadow: 0px -4px 3px rgba(1, 1, 1, 0.15);
  z-index: 2;
}
/*Här visas den mitt på skärmen nu iallafall över */
.createtask {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: 5px solid #ffffff;
  width: 85%;
  border-radius: 4% 4% 0 0;
  border-top: 1px solid #20202000;
  padding: 15px;
  -webkit-box-shadow: 0px -4px 3px rgba(1, 1, 1, 0.15);
  -moz-box-shadow: 0px -4px 3px rgba(1, 1, 1, 0.15);
  box-shadow: 0px -4px 3px rgba(1, 1, 1, 0.15);
  height: auto;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family: 'Roboto', sans-serif;
}

.taskList {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 55px;
  left: 44%;
  width: 80%;
  height: 80px;
  transform: translate(-50%, -50%);
  z-index: 0;
  background-color: #561CFB;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.taskList h2 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;

}

.taskList p {
  font-size: 18px;
  margin: 5px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.taskList button {
  float: right;
  background-color: #ffffff;
  color: #0077c2;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.x {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x:hover{
  color: black;
  background-color: white;
}

.createtask label {
  display: block;
  margin-bottom: 16px;
}

.createtask label span {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;

}

.createtask input[type="text"],
.createtask input[type="date"],
.createtask input[type="time"] {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-top: 4px;
  margin-bottom: 16px;

}

.subbe  {
  display: block;
  background-color: #561cfb;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;

}

.subbe:hover {
  background-color: #4515c8;

}



.setuptask {
  border: 5px solid #ffffff;
  background-color: #ffffff;
  color: #222222;
  font-size: 0.9em;
  font-weight: bold;
}
.setuptask hr {
  border: 1px solid #ffc107;
  margin-right: 30px;
}

.aktivitetNamn {
  margin-left: 18px;
  border: transparent;
}

.aktivitetDate {
  margin-left: 100px;
  border: transparent;
}

.dateInPlace {
  position: absolute;
  margin-top: 1%;
}

.aktivitetTidSetStart {
  margin-left: 80px;
  border: transparent;
}

.aktivitetTidSetTo {
  border: transparent;
}

.buttonDiv {
  display: flex;
  align-content: center;
  justify-content: center;
  color: #fff;
}

.buttonDiv button {
  background-color: #c1bfc5;
  color: #ffffff;
  border-radius: 999em 999em 999em 999em;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.createdTask {
  background-color: #561cfb;
  border-radius: 999em 999em 999em 999em;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 4%;
}

/*                                               TASK CARD END                                             */

/*                                                TIMER                                                    */

.timerBakgrund {
  background-color: #fff9f2;
  height: 100%;
  width: 100%;
  text-align: center;
}

.timerClock {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Roboto', sans-serif;

}

.timerClockFrame {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 50px;
  height: 210px;
  width: 210px;
  background-color: #fff9f2;
  color: #202020ea;
  border-radius: 50%;
  border-color: #00000000;
  border: dotted;
  font-family: 'Roboto', sans-serif;

}

.verticalLettersBox {
  writing-mode: vertical-lr;
}

.timerZeroOverSpike {
  position: absolute;
  top: 6px;
  left: 180px;
  font-size: x-large;
  font-weight: bolder;
}

.timerTwelveSpike {
  position: absolute;
  text-orientation: mixed;
  top: 37px;
  left: 164px;
}

.timerNineSpike {
  position: absolute;
  top: 124px;
  left: 66px;
}

.timerThreeSpike {
  position: absolute;
  top: 124px;
  left: 290px;
}

.timerSixSpike {
  position: absolute;
  text-orientation: mixed;
  top: 259px;
  left: 164px;
}

/* DESKTOP SIZE
.timerTwelveSpike {
  position: absolute;
  top: 105px;
  left: 794px;
  font-size: x-large;
  font-weight: bolder;
}

.timerNineSpike {
  position: absolute;
  top: 194px;
  left: 680px;
}

.timerThreeSpike {
  position: absolute;
  top: 194px;
  left: 899px;
}

.timerSixSpike {
  position: absolute;
  top: 334px;
  left: 794px;
  font-size: x-large;
  font-weight: bolder;
}
*/

.timerPeppiFace {
  text-align: center;
  font-size: 50px;
  line-height: 40px;
  margin-top: 20px;
  height: 161px;
  width: 161px;
  background-color: #48c668;
  border-radius: 50%;
}

.happyEyesPeppi {
  position: absolute;
  margin-top: -490px;
  margin-left: -45px;
  z-index: 1;
}

.digitalClock {
  font-size: x-large;
  font-weight: 700;
}

.digitMittKnapp {
  margin-top: 0.5%;
}

.boxSnabbButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.86em;
  margin-left: 12%;
  margin-right: 12%;
}

.boxSnabbButton2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.86em;
  margin-left: 12%;
  margin-right: 12%;
}

.timerSnabbButtons {
  background-color: #ffc107;
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-weight: 400;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  height: 36px;
  width: 80px;
  border-radius: 999em 999em 999em 999em; /* HUR FAN GÖR JAG EN AVRUND KNAPP som inte ser fucked ut! */
  cursor: pointer;
}

.boxTimerButton {
}

.digitalClockManualCard {
  margin-top: -5px;
  margin-bottom: 30px;
}

.timerButtons {
  background-color: #ffc107;
  color: #000000;
  text-align: center;
  font-weight: bold;
  text-align: center;
  font-weight: 400;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  height: 36px;
  width: 80px;
  border-radius: 999em 999em 999em 999em; /* HUR FAN GÖR JAG EN AVRUND KNAPP som inte ser fucked ut! */
  cursor: pointer;
}

.bottomButtonsManual {
  margin-bottom: -40px;
}

.boxAvbrytBekrefta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.86em;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 19px;
  margin-top: 2%;
}

.avbrytKnapplist {
  color: #000000;
}

.bekreftaKnapplist {
  color: #ffc107;
}

.manuellTimeCard {
  display: block;
  position: absolute;
  background-color: #ffffff;
  padding: 15px;
  margin-top: -55%; /* org -37% */
  height: 399px;
  width: 327px;

  border-radius: 4% 4% 0 0;
  border-top: 1px solid #20202000;
  -webkit-box-shadow: 0px -4px 3px rgba(1, 1, 1, 0.15);
  -moz-box-shadow: 0px -4px 3px rgba(1, 1, 1, 0.15);
  box-shadow: 0px -4px 3px rgba(1, 1, 1, 0.15);
  z-index: 1;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

/* Exit knapp på Manuella knappar-CARD */
.timerExitBox {
  display: flex;
  justify-content: flex-end;
}

.timerExitKnapp {
  text-decoration: none;
  text-align: center;
  position: static;
  bottom: 12%;
  font-size: 25px;
  line-height: 19px;
  height: 24px;
  width: 24px;
  background-color: #222222;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  border-top: 1px solid #20202000;
  -webkit-box-shadow: 0px 4px 3px rgba(1, 1, 1, 0.15);
  -moz-box-shadow: 0px 4px 3px rgba(1, 1, 1, 0.15);
  box-shadow: 0px 4px 3px rgba(1, 1, 1, 0.15);
  z-index: 99;
}

/*                                                TIMER END                                                */

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: "";
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/*
css for the circle 
*/
.timer {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: green;
  transform-origin: center center;
  transform: rotate(0deg);
}

.timer.running::before {
  animation: timer-animation 1s linear infinite;
}

@keyframes timer-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.timer h1 {
  font-size: 50px;
  margin: 0;
  color: white;
  text-align: center;
}
